<!DOCTYPE html>
<html>
  <head>
    <title>Management</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag "index" %>
  </head>

  <body>
    <div id="app">
      <%= yield %>
    </div>
  </body>
</html>
